.btn-new {
    background-color: #c1d72f;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; 
  border-radius: 5px;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  color: #c40202;
  border: 2px solid #c40202;
  cursor: pointer;
  margin: 10px 65px;
}

.btn-favorite {
  width: 40px;
  height: 35px;
  padding: 0;
  border-radius: 6px;
  background-color: #fff;
  color: #c1d72f;
  border: 2px solid #c1d72f;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  width: 40px;
  height: 35px;
  padding: 0;
  border-radius: 6px;
  background-color: #fff;
  color: #c40202;
  border: 2px solid #c40202;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.btn-remove:hover { background-color: #c40202; color: #fff; }
.btn-favorite:hover { background-color: #c1d72f; color: #fff; }
.btn-delete:hover { background-color: #c40202; color: #fff; }

button[class^="btn-"] .icon,
button[class^="btn-"] svg {
  width: 18px;
  height: 18px;
  display: block;
}

 
.btn-div {
  display: inline-block;
}
