.btn-new {
    background-color: #c1d72f;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-new:hover {
    background-color: #a8bc26;
}

.btn-remove {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
  color: #c40202;
  border: 2px solid #c40202;
  cursor: pointer;
  margin: 10px 65px;
} 

.btn-remove:hover {
  background-color: #c40202;
  color: #ffffff;
}

.btn-favorite {
  border-radius: 5px;
  width: 45px;
  height: 40px;
  background-color: #ffffff;
  color: #c1d72f;
  border: 2px solid #c1d72f;
  cursor: pointer;
  margin: 10px 100px;
} 

.btn-favorite:hover {
  background-color: #c1d72f;
  color: #ffffff;
}

 
.btn-div {
  display: inline-block;
}

.btn-delete {
  border-radius: 5px;
  width: 45px;
  height: 35px;
  background-color: #ffffff;
  color: #c40202;
  border: 2px solid #c40202;
  cursor: pointer;
  margin: 10px 0px;
} 

.btn-delete:hover {
  background-color: #c40202;
  color: #ffffff;
}
