.favorites-list-container{
  display: flex;
  height: 100%; 
  padding-bottom: 80px; 
  flex-direction: column;
}
.favorites-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination-info {
  font-size: 14px;
  color: #333;
}

.pagination-arrow {
  background-color: #d8ea5e;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination-arrow:hover:not(:disabled) {
  background-color: #c4d82d;
}

.pagination-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.bottom-left {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

/* tablets */
@media (max-width: 992px) {

  .favorites-list{
    grid-template-columns: repeat(3,1fr);
  }

}

/* tablets pequeñas */
@media (max-width: 768px) {
  .favorites-list{
    grid-template-columns: repeat(2,1fr);
  }

}

/* móviles */
@media (max-width: 480px) {
  
  .favorites-list{
    grid-template-columns: repeat(1,1fr);
  }


}
